body {
    background-color: #333366;
}

.head-two-player {
    background-color: gray;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin: 20px auto;
    width: 40vw;
    height: 55px;
}

.find-game-button {
    background-color: orange;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 40px;
    margin: 13vh 0px;
}

.button-container {
    margin: 15vh auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.exit-two-player {
    background-color: gray;
    border-radius: 10px;
    width: 16vw;
    height: 7vh;
}
.center {
  height: 3vh;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.wave {
  width: 5px;
  height: 50px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}