* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333366;
    justify-content: center;
    align-items: center;
}

.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9, .b10, .b11, .b12, .b13, .b14, .b15, .b16, .b17, .b18, .b19, .b20, .b21, .b22, .b23, .b24 .b25 {
    width: 100% !important;
    justify-content: center;
    align-items: center;
}

.s1, .s2, .s3, .s4, .s5, .s6 {
    width: 32px;
    height: 32px;
}

/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58i-wi40.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

#timer {
	position: relative;
	float: inline-end;
	text-align: right;
	margin-top: 0px;
	font-size: 25px;
	color: white;
}
#quiz {
	display: inline-block;
	justify-content: center;
    align-items: center;
    position: absolute;
    top: -5%;
    left: 10%;
}

#progress {
	position: relative;
	float: left;
	text-align: left;
	margin-top: 0px;
	font-size: 20px;
	color: white;
}
#naslov {
	position: relative;
	margin-top: -20px;
#arrow{
    position: inline;
}
