body {
	background-color: #333366;
	justify-content: center;
    align-items: center;
}

.exit-button {
	border: 1px solid gold;
	border-radius: 10px;
	display: table-cell;
	padding: 0px 40px 0px 40px;
	width: 75px;
	height: 75px;
	background-color: #333366;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.39' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
	border: 1px solid gold;
	width: 75px;
	height: 75px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #333366;
	/*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.21' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/

}

#container {
	display: flex;
	margin-left: auto;
	justify-content: center;
    align-items: center;
}
#tables {
	display: inline-block;
	border-collapse: separate;
	border-spacing: 5px;
}
#leftTable {
	float: left;
	display: inline-block;
	margin: 0px 10px 0px 0px;
}
#rightTable {
	float: left;
	display: inline-block;
}
#finalTable {
	display: inline-block;
	float: left;
	margin: 10px 0px 0px 0px;
}
#display {
	display: inline-block;
	float: left;
	clear: both;
	margin: 10px 0px 275px 0px;
	text-align: center;
	background-color: rgb(15, 57, 99);
	height: 50px;
	width: 98%;
	border: 4px solid white;
	border-radius: 20px;
	vertical-align: middle;
	color: gold;
	font-size: 40px;
}
.tableRow {
	border: 4px solid white;
	border-radius: 20px;
	margin: -4px 0px 0px 0px;
	background-color: #333366;
}
.tableCell {
	border: 1px solid gold;
	border-radius: 10px;
	display: table-cell;
	width: 75px;
	height: 75px;
	background-color:   #333366;
	text-align: center;
	font-size: 50px;
	vertical-align: middle;
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.39' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
}

.sendCell {
	border: 1px solid gold;
	border-radius: 10px;
	display: table-cell;
	width: 50px;
	height: 50px;
	background-color: #333366;
	text-align: center;
	font-size: 35px;
	vertical-align: middle;
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.39' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
}

.resultCell {
	border: 1px solid gold;
	border-radius: 10px;
	display: table-cell;
	width: 80px;
	height: 50px;
	background-color: #333366;
	text-align: center;
	font-size: 50px;
	vertical-align: middle;
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.39' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
}


.rightTableCell {
	border-radius: 30px;
}

#buttons {
	display: inline-block;
	display: table-cell;
	float: right;
	margin: 0px 0px 0px 10px;
	border-collapse: separate;
	border-spacing: 5px;
}

.buttons {
	border: 1px solid gold;
	width: 75px;
	height: 75px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.buttons:hover {
	background-color: #333366;
	border-color: solid white;
	filter: brightness(92%);
	font-size: 36px;
}
.buttons:active {
	font-size: 38px;
	border-color: solid white;
	background-color: #333366;
}
.red {
	color: darkred;
}
.yellow {
	color: gold;
}
.commands {
	background-color: #333366;
	/*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.21' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
}
.commands:hover {
	background-color:white;
	border-color: white;
}
.commands:active {
	background-color: #333366;
	border-color: solid white;
	color: solid white;
}

#resultPlaceholder{
	width: 50%;
	display: block;
	visibility: hidden;
}

.emojis{
	width: min-content;
}

#messagePlaceholder{
	visibility:hidden;
	display:block;
	width: 100%;
	color: white;
}

.resistant{
	border: 1px solid gold;
	border-radius: 10px;
	display: table-cell;
	width: 75px;
	height: 75px;
	background-color: #333366;
	text-align: center;
	font-size: 35px;
	vertical-align: middle;
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.39' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
	border: 1px solid gold;
	width: 75px;
	height: 75px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #333366;
	/*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.21' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
}

.resistant:hover {
	background-color: white;
	border-color: solid gold;
	filter: brightness(92%);
	font-size: 36px;
}